---
layout: default
---
<div class="flex-page">
  <section id="splash">

    <h1>
      Active from 2015 to 2017, voidLab was an intersectional feminist collective for women, non-binary, gender nonconforming, trans and queer people to express individual identities through art and technology. Projects, actions, and reflections accumulated from this temporary community now live in an archive available in <a href="book/voidLab_2015-2017.pdf" target="_blank">PDF</a> and <a href="https://www.blurb.com/bookstore/invited/9214530/2419e59daa59f56ce906a8bcd6ecec7a4a3d9562">printed</a> format. 
    </h1>
    <p>
      We are a group of students, educators, artists, designers, and technologists that meet weekly to organize events, workshops, and exhibitions that forefront underrepresented voices. Our goal is to celebrate differences rather than to idolize a singular value or way of expression. At our meetings, anyone can contribute to the agenda and each meeting is run by a different moderator, encouraging diverse and unique styles for leadership and empowerment. This structure represents voidLab’s most central value, which is to work against the misconception of equating hegemony with solidarity and to transcend every border imposed by institutions and society at large. Compassion and self-reflection are essential in our work.
      </br>
      </br>
      <a href="https://docs.google.com/document/d/1QA6QiIzW0km3JfU4bayrtmYadaiGi707BgHUDzPFzzk/edit?pref=2&pli=1">Community Guidelines&nbsp;&gt;&gt;</a>
    </p>

    {% include social.html %}

  </section>

  <h2>co-founders</h2>
  <p>
    All regular participants of voidLab are co-founders. We think of ourselves as co-founders rather than members to imply both the agency to change the code of conduct and the responsibility to be held accountable for the consequence of these changes. We are interested in unlearning the “creation tale” that often gets retold to define an organization or a company. Without a creation tale, voidLab can move forward with time and flexibly adapt to intersectional discourses in the upcoming years.
  </p>

  <section id="members">
    {% for item in site.members %}
      {% include member.html member=item %}
    {% endfor %}
  </section>

  <h2>press</h2>
  <section id="press">
    {% include press-links.html %}
  </section>
</div>
