---
layout: default
---
<div class="flex-page">
  <section id="splash">

    <h1>
      voidLab is an intersectional feminist collective for
      women, non-binary, gender nonconforming, trans and queer people to
      express individual identities through arts and technologies.
    </h1>
    <p>
      Candy bonbon pastry jujubes lollipop wafer biscuit biscuit. Topping brownie sesame snaps sweet roll pie. Croissant danish biscuit soufflé caramels jujubes jelly collaborative projects. Dragée danish caramels lemon drops dragée. Gummi bears cupcake biscuit tiramisu sugar plum pastry. Dragée gummies applicake pudding liquorice. Topping brownie sesame snaps sweet roll pie. Croissant danish biscuit soufflé caramels jujubes jelly talks. Dragée danish caramels lemon drops dragée. Gummi bears cupcake biscuit tiramisu exhibitions pastry. Dragée gummies applicake pudding liquorice.
      </br>
      </br>
      <a href="https://docs.google.com/document/d/1QA6QiIzW0km3JfU4bayrtmYadaiGi707BgHUDzPFzzk/edit?pref=2&pli=1">Community Guidelines&nbsp;&gt;&gt;</a>
    </p>

    {% include social.html %}

  </section>

  <h2>co-founders</h2>
  <section id="members">
    {% for item in site.members %}
      {% include member.html member=item %}
    {% endfor %}
  </section>

  <h2>press</h2>
  <section id="press">
    {% include press-links.html %}
  </section>
</div>
