<footer class="site-footer">

  <div class="wrapper">
    <ul>
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li><a href="http://twitter.com/uclavoidlab" target="main">twitter</a></li>
      <li><a href="https://www.facebook.com/uclavoidlab" target="main">facebook</a></li>
      <li><a href="https://www.instagram.com/voidlab/" target="main">instagram</a></li>
      <li><a href="https://vimeo.com/voidlab" target="main">vimeo</a></li>
      <li><a href="https://github.com/voidlab" target="main">github</a></li>
    </ul>
  </div>

</footer>
