<header class="site-header">

  <div class="nav-wrapper">
    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 30 30">
        <line y1="3" x2="30" y2="3"/><line y1="13" x2="30" y2="13"/><line y1="23" x2="30" y2="23"/>
        </svg>
      </a>
      <div class="site-title">
        <a class="page-link " href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logos/logo-1.png" alt="void lab logo"/></a>
      </div>
      <div class="trigger-wrapper">
        <div class="trigger">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            {% assign current = nil %}
            {% if page.title contains my_page.title %}
              {% assign current = 'current-page' %}
            {% endif %}
            <a class="page-link {{current}}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </nav>
  </div>

</header>
