<header class="site-header">

  <div class="wrapper">
    <div class="nav-wrapper">

      <a class="site-title page-link" href="{{ site.baseurl }}/">{{ site.title }}</a>

      <nav class="site-nav">
        <a href="#" class="menu-icon">
          <svg viewBox="0 0 40 40">
          <line y1="10" x2="40" y2="10"/><line y1="20" x2="40" y2="20"/><line y1="30" x2="40" y2="30"/>
          </svg>
        </a>
        <div class="trigger-wrapper">
        <div class="trigger">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            {% assign current = nil %}
            {% if page.title contains my_page.title %}
              {% assign current = 'current-page' %}
            {% endif %}
            <a class="page-link {{current}}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
        </div>
      </nav>
    </div>
  </div>

</header>
