
<ul>

  <li>
    <a href="http://femmagazine.com/2016/01/11/voidlab-a-feminist-space-for-art-technology-and-critical-conversations/" target="main">voidLab: A Feminist Space for Art, Technology, and Critical Conversations</a>
    <i>FEM,</i>
    January 2016
  </li>

  <li>
    <a href="https://issuu.com/thepapermixtape/docs/fall15-v5/1" target="main">enter the void: A Laboratory Without Limits</a>
    <i>The Paper Mixtape,</i>
    Fall 2015
  </li>

  <li>
    <a href="http://femmagazine.com/2016/03/11/artfeminismvoidlab-reconstructing-the-narrative/" target="main">Art+Feminism+voidLab: Reconstructing the Narrative</a>
    <i>The Daily Bruin,</i>
    March 2016
  </li>

  <li>
    <a href="http://dailybruin.com/2016/04/17/feminist-collective-voidlab-held-poster-exhibition-at-broad/" target="main">Feminist collective voidLab held poster exhibition at Broad</a>
    <i>The Daily Bruin,</i>
    April 2016
  </li>

</ul>
