
<ul>

  <li>
    <b>“voidLab: A Feminist Space for Art, Technology, and Critical Conversations”</b>
    <i>FEM,</i>
    January 2016
  </li>

  <li>
    <b>“enter the void: A Laboratory Without Limits”</b>
    <i>The Paper Mixtape,</i>
    Fall 2015
  </li>

  <li>
    <b>“Art+Feminism+voidLab: Reconstructing the Narrative”</b>
    <i>The Daily Bruin,</i>
    March 2016
  </li>

  <li>
    <b>“Feminist collective voidLab held poster exhibition at Broad”</b>
    <i>The Daily Bruin,</i>
    April 2016
  </li>

</ul>
