    <ul class="links">
      <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a></li>
      <li><a href="http://twitter.com/uclavoidlab" target="main"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.facebook.com/uclavoidlab" target="main"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/voidlab/" target="main"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://vimeo.com/voidlab" target="main"><i class="fa fa-vimeo-square"></i></a></li>
      <li><a href="https://github.com/voidlab" target="main"><i class="fa fa-github"></i></a></li>
    </ul>