ul, li {
  margin-left: 0;
  padding-left: 0;
}
ul {
  list-style: none;
}

.flex-page {
  display: flex;
  flex-flow: column nowrap;
}

section#splash {
  display: flex;
  flex-flow: column nowrap;

  h1 {
    font-size: 3.0em;
    margin-bottom: 1.0em;
  }

  p {
    column-count: 2;
    line-height: 1.8em;
  }

  ul.links {
    margin-top: 1em;
    margin-bottom: 2em;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    width: 70%;

    li {
      font-weight: bold;
      flex: auto;

    }
  }
}

section#press {

}

section#press a {
  font-weight: bold;
}
