ul, li {
  margin-left: 0;
  padding-left: 0;
}
ul {
  list-style: none;
}

.flex-page {
  display: flex;
  flex-flow: column nowrap;
}

section#splash {
  display: flex;
  flex-flow: column nowrap;

  h1 {
    font-size: 3.0em;

    @include media-query($on-palm) {
      font-size: 2em;
    }

    margin-bottom: 1em;
  }

  p {
    column-count: 2;
    line-height: 1.8em;
  }

  ul.links {
    margin-top: 1em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    line-height: 2em;

    li {
      font-weight: bold;
      font-size: 1.5em;
      margin-left: .5em;
      margin-right: .5em;
      display:inline-block;
    }
  }
}

section#press {

}

section#press a {
  font-weight: bold;
}
