/**
 * Site header
 */

header {
    position: fixed;

}

.nav-wrapper {
    min-height: 86px; 


    text-align: center;
    line-height: 86px;


}

.site-nav .page-link.current-page {
    color: $brand_color;
}

.site-title {
    margin-right: 20px;
    font-weight: 700;
}

nav {
    display: inline-block;
}

header {
    background-color:rgba(0,0,0,0);
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
header.scrolled {
    background-color: rgba(0,0,0,.95);
}

.site-header {
    z-index: 170;

    // Positioning context for the mobile navigation icon
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;

    border-bottom: 1px solid $grey-color-light;
}

.site-header .wrapper {

    @include media-query($on-laptop) {
        margin-right: $spacing-unit / 2;
        margin-left: $spacing-unit / 2;
    }
}

.site-title {
    font-weight: 700;
    display: inline-block;
    color: $text-color;

    &,
    &:visited {
        color: $text-color;
    }
}

.site-nav {


    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .trigger {
        display: inline-block;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 15px;
        left: $spacing-unit / 2;
        background-color: $background-color;
        text-align: left;

        .menu-icon {
            display: block;
            float: left;
            width: 56px;
            height: 46px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 38px;
                height: 35px;

                path {
                    fill: $brand-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            border: 1px solid $brand-color;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            font-size: 20px;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

footer {
    background: black;
    text-align: center;
}



/**
 * Page content
 */
.page-content {
    margin-top: 86px;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/** Projects, Exhibitions, and Talks */
.slide {
    text-align: center;
}

.flexslider .slides .slide img {
    max-height: 600px;
    width: auto;
    margin: auto;   
}
