/**
 * Site header
 */

header {
    position: fixed;

}

.nav-wrapper {
    min-height: 86px; 
    width: 100%;

    text-align: center;
    line-height: 86px;
}

.site-nav .page-link.current-page {
    color: $brand_color;
}

.site-title {
    margin-right: 20px;
    font-weight: 700;
}

nav {
    display: inline-block;
}

header {
    background-color:rgba(0,0,0,.95);
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
header.scrolled {
    background-color: rgba(0,0,0,.95);
}

.site-header {
    z-index: 170;

    // Positioning context for the mobile navigation icon
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;

    border-bottom: 1px solid $grey-color-light;
}

.site-header .wrapper {

    @include media-query($on-laptop) {
        margin-right: $spacing-unit / 2;
        margin-left: $spacing-unit / 2;
    }
}

.site-title {

    display: inline-block;

    @include media-query($on-palm) {
        width: 100%;
        text-align: center;
    }

    .page-link {
        margin-left: auto;
        margin-right: auto;
    }
}

.site-title a {
    font-weight: 700;
    display: block;
    color: $text-color;

    &,
    &:visited {
        color: $text-color;
    }


}

.site-nav {

    width: auto;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .trigger {
        display: inline-block;
        background: $background-color;
    }

    .trigger-wrapper {
        display: inline-block;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: left;
        width: 100%;

        .menu-icon {
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            padding-left: $spacing-unit / 2;
            padding-right: $spacing-unit / 2;
            width: 30px;
            height: 56px;
            line-height: 0;
            padding-top: 30px;
            text-align: center;

            > svg {
                width: 30px;
                height: 30px;

                line {
                    stroke: $brand-color;
                    stroke-width: 2px;
                    fill:none;
                    stroke-miterlimit:10;
                }
            }
        }

        .trigger-wrapper {
            height: 0px;
            padding-left: $spacing-unit / 2;
            width: 100%;
            overflow: hidden;
            vertical-align: top;
            border-bottom: 1px solid white;
        }

        .trigger {
            margin-top: 1px;
            display: block;
            padding-top: $spacing-unit / 4;
            padding-bottom: $spacing-unit / 4;
            width: 100%;
        }

        .page-link {
            display: block;
            font-size: 20px;
            padding-top: $spacing-unit / 4;
            padding-bottom: $spacing-unit / 4;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-links {
    ul.links {
        margin-top: 1em;
        margin-bottom: 4em;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        line-height: 2em;

        li {
          font-weight: bold;
          font-size: 1.5em;
          margin-left: .5em;
          margin-right: .5em;
          @include media-query($on-palm) {
            margin-right: $spacing-unit / 2;
            margin-left: $spacing-unit / 2;
            font-size: 2em;
          }
          display:inline-block;
        }

        li.first {
            margin-left: 0px;
        }
        li.last {
            margin-right: 0px;
        }
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

footer {
    background: black;
    text-align: center;
}



/**
 * Page content
 */
.page-content {
    margin-top: 86px;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/** Projects, Exhibitions, and Talks */
.slide {
    text-align: center;
}

.flexslider .slides .slide img {
    max-height: 600px;
    width: auto;
    margin: auto;   
}
