
section#members {
  align-self: center;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;


  width: 100%;
  margin-bottom: $spacing-unit;

  section.member-container {
    width: 12rem;
    max-width: 12rem;

    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    // margin: 1rem;

    img {
      max-width: 100%;
      flex: 0 0 auto;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    h1 {
      flex: 0 0 auto;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;
      font-size: $small-font-size
    }
    p {
      font-size: $small-font-size * 0.75;
      flex: 0 0 auto;
      margin-left: 0.25rem;
      margin-right: 2rem;
    }
  }
}
