
section#members {
  align-self: left;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  width: calc(100% + 30px);

  margin-bottom: $spacing-unit;
  justify-content: flex-start;
  
  section.member-container {
    width: 280px;
    max-width: 280px;
    margin-left: 0;
    margin-right: $spacing-unit;
    margin-bottom: $spacing-unit;

    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;

    img {
      max-width: 100%;
      height: auto;
      flex: 0 0 auto;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    h1 {
      flex: 0 0 auto;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      margin-bottom: 0;
      margin-top: 0.75rem;
      font-size: $small-font-size;
      font-weight: 700;
    }
    p {
      font-size: $small-font-size;
      font-weight: 400;
      flex: 0 0 auto;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }
}


