.slide {
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
}

.slide img {
	
}

.caption {
	
}

.project-details {
	display: flex;
	flex-flow: row wrap;
	margin-top: $spacing-unit;
	margin-bottom: $spacing-unit * 2;
}

.project-description, .project-metadata {
	display: inline-block;
	vertical-align: text-top;
}

.project-description {
	flex: 3 1;
	max-width: $on_palm;
	min-width: $on_palm/2;
	padding-right: $spacing_unit;
}

.project-metadata {
	flex: 0 1 auto;
	font-size: $small-font-size;
	line-height: $base-font-size * $base-line-height;
}

.when-and-where {
	margin-bottom: $spacing_unit;
}

.caption {
	font-size: 12px;
	font-weight: 400;
}