
.project-description, .project-metadata {
	display: inline-block;
	vertical-align: text-top;
}

.project-description {
	width: 70%;
}

.project-metadata {
	width: 25%;
}

.caption {
	font-size: 12px;
	font-weight: 400;
}